body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
   
  }
  
  
  span{
      display: inline-block;
    text-transform:uppercase;
    color:red;
    animation: mimi 3s ease-in-out infinite;
    animation-direction: alternate-reverse;
    animation-delay: .4s;
    font-family: 'Pacifico', cursive;
  
      background-image: linear-gradient(to right, red,blue,pink);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  
  @keyframes mimi{
  
    0%{
        background-image: linear-gradient(to right, red,blue,pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: rotate(45deg) scale(.1);
     
    }

    40%{
        
        transform: scale(1.3);
    }

    100%{
        background-image: linear-gradient(to left, red,blue,pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: rotate(-360deg) scale(0.1);
       
      
    }
  }

