body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }
  
  
  span{
      display: inline-block;
    text-transform:uppercase;
    color:red;
    animation: mimi 4s linear infinite;
    animation-delay: .4s;
    font-family: 'Pacifico', cursive;
  
  }
  
  
  @keyframes mimi{
  
    0%{
        color: pink;
        transform: rotate(45deg) scale(.1);
     
    }

    40%{
        transform: scale(1.3);
    }

    100%{
        transform: rotate(-360deg) translateX(400%);
    }
  }